/**
 * Footer Layout and Styles
 */

footer {
	text-align: left;
	text-shadow: var(--picker-text-shadow);
}

.footer-links {
	display: flex;
	gap: 10px;
	margin: 2em auto;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
	text-align: center;
}

.footer-links * {
	opacity: 0.8;
}

.footer-links a {
	color: var(--picker-dynamic-accent-footer);
}

.footer-links a:hover {
	color: var(--picker-dynamic-accent);
	opacity: 1;
	text-decoration: underline;
}

.footer-links .divider {
	opacity: 0.2;
	font-size: 1.3em;
}

.footer-links button {
	appearance: none;
	border: 0;
	background: none;
	font-size: inherit;
	cursor: help;
	padding: 0;
	margin: 0;
	text-shadow: var(--picker-text-shadow);
}

.footer-links button:hover {
	color: var(--picker-dynamic-accent);
}

.footer-links button:focus {
	outline: 3px solid var(--picker-input-focus-ring);
	border-radius: 5px;
	outline-offset: 3px;
}

#explainer {
	max-width: 630px;
	margin: 0 auto;
	padding: 0 10px;
}

#explainer[data-visible="false"] {
	display: none;
}
