/**
 * Color Model Picker Component Styles
 */

.slider-choices {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(5, min-content);
	place-content: center;
	margin: 0 auto 20px;
}

.slider-choices label {
	cursor: pointer;
}

.slider-choices input[type="checkbox"] {
	appearance: none;
	border: 0;
	padding: 0;
	margin: 0;
	height: 0;
	width: 0;
	position: absolute;
	z-index: -1;
}

.slider-choices input + div {
	font-size: 0.9em;
	background-color: var(--picker-input-bg);
	box-shadow: var(--picker-input-box-shadow);
	text-shadow: var(--picker-text-shadow);
	border-radius: 15px;
	border: none;
	position: relative;
	padding: 2px 10px 2px 25px;
	-webkit-user-select: none;
	user-select: none;
}

.slider-choices input:focus + div {
	outline: 3px solid var(--picker-input-focus-ring);
	outline-offset: 0px;
}

.slider-choices input + div:before {
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	left: 9px;
	top: 8px;
	box-shadow: 0 0 0 2px var(--picker-dynamic-accent);
	opacity: 0.6;
	transition: opacity 0.2s;
}

.slider-choices input:checked + div:before {
	background-color: var(--picker-dynamic-accent);
	opacity: 1;
}

/* Light Theme Adjustments */
@media (prefers-color-scheme: light) {
	.slider-choices input + div:before {
		mix-blend-mode: multiply;
	}
}
