/**
 * Global Reset and Base Styles
 */

* {
	box-sizing: border-box;
}

html {
	background-image: linear-gradient(
		-45deg,
		var(--picker-dark-stripe) 25%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 50%,
		var(--picker-dark-stripe) 50%,
		var(--picker-dark-stripe) 75%,
		rgba(0, 0, 0, 0) 75%,
		rgba(0, 0, 0, 0)
	);
	background-size: 80px 80px;
}

body {
	margin: 0;
	display: grid;
	min-width: 220px;
	min-height: 100vh;
}

a {
	font-weight: 500;
	color: var(--picker-dynamic-accent);
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

@media (prefers-color-scheme: light) {
	a:hover {
		color: #747bff;
	}
}
